<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Default Input -->

<ion-item>
  <ion-label position="floating">First name</ion-label>
  <ion-input></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Name</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input type="email"></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

<ion-auto-complete [dataProvider]="visiteeAutoCompleteService" [options]="{ placeholder : 'Visitee' }"></ion-auto-complete>



<div class="ion-padding">
  <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
</div>
</ion-content>
